* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
  background: black;
  color: white;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-bottom: 50px;
}

.goose {
  position: absolute;
  left: 50%;
  top: -100%;
  transform: translate(-50%);
  animation-name: goose;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes goose {
  0% {
    top: -100%;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
.letter {
  font-size: 80px;
  font-weight: 500;
  position: absolute;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.letter-1 {
  animation-name: letter-1;
}

.letter-2 {
  animation-name: letter-2;
}

.letter-3 {
  animation-name: letter-3;
}

.letter-4 {
  animation-name: letter-4;
}

@keyframes letter-1 {
  0% {
    top: 45%;
    left: 48%;
    transform: translate(-50%, 50%);
  }
  100% {
    top: 5%;
    left: 5%;
  }
}
@keyframes letter-2 {
  0% {
    top: 45%;
    right: 48%;
    transform: translate(-50%, 50%);
  }
  100% {
    top: 5%;
    right: 5%;
  }
}
@keyframes letter-3 {
  0% {
    top: 52%;
    left: 48%;
    transform: translate(-50%, 50%);
  }
  100% {
    top: 85%;
    left: 5%;
  }
}
@keyframes letter-4 {
  0% {
    top: 52%;
    right: 48%;
    transform: translate(-50%, 50%);
  }
  100% {
    top: 85%;
    right: 5%;
  }
}
.ga {
  white-space: nowrap;
  overflow: scroll;
  overflow-y: hidden;
  margin-bottom: 50px;
  position: relative;
  height: 100px;
  width: 100%;
}

.ga-text {
  font-size: 100px;
  font-weight: 900;
  position: absolute;
  padding-left: 100%;
  animation: ga-text 10s infinite linear;
  animation-delay: 2s;
}

.ga-text1 {
  font-size: 100px;
  font-weight: 900;
  position: absolute;
  padding-left: 100%;
  animation: ga-text 10s infinite linear;
  animation-delay: 7s;
}

@keyframes ga-text {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.gooses {
  width: 100%;
  height: auto;
  padding: 0px 5%;
  margin-bottom: 50px;
}
.gooses__img {
  width: 100%;
}

.decoration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
  margin-bottom: 50px;
}
.decoration__letters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  font-size: 40px;
  font-weight: 500;
}
.decoration__liner {
  width: 80px;
  height: 3px;
  background: #ffffff;
  margin-bottom: 40px;
}
.decoration__liner:last-child {
  margin-bottom: 0px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content 1fr;
  padding: 0px 10%;
  margin-bottom: 50px;
  position: relative;
}
.about__title {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 30px;
}
.about__img {
  width: 100%;
  height: auto;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
}
.about__paragraps {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.about__paragrap {
  margin-bottom: 20px;
  font-weight: 300;
}
.about__paragrap:last-child {
  margin-bottom: 0px;
}
.about__link {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10%;
  bottom: 0px;
  height: auto;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
}
.about__link img {
  height: 50px;
  padding-top: 10px;
}/*# sourceMappingURL=style.css.map */